@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #fffdd0;
  color: #120e25;
}

body.dark {
  background-color: #120e25;
  color: #fff;
}

.terminal {
  padding: 1rem;
}
